/*For the full website*/
html,body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 21px;
    background-color: rgb(220, 220, 230);
   font-family: 'Open Sans', sans-serif;
    overflow: auto;
}
/* it would decrease the font to 20px from 21px when the browser is samller then 880px */
@media only screen and (max-width: 880px) {
    html,
    body {
        font-size: 20px;
    }
}
h1 {
    font-size: 2.3em; /*Sets the font size of the all the h1*/
    font-family: 'Dosis', sans-serif;
}
h2 {
    color: #dd4343;/*Seats the font color for all the h2 */
    font-size: 1.5em;/*Sets the font size for all the h2*/
    font-family: 'Dosis', sans-serif;
}
/*Preloader*/

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    /* change if the mask should have another color then white */
    
    z-index: 99;
    /* makes sure it stays on top */
}
#status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    /* centers the loading animation horizontally one the screen */
    
    top: 50%;
    /* centers the loading animation vertically one the screen */
    
    background-image: url(../img/status.gif);
    /* path to your loading animation */
    
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
    /* is width and height divided by two */
}
/
/*Loading Animation*/

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
/*Make the middle arc that rotate*/
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 2s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    
    animation: spin 2s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}
/*Makes the most outer arc that rotate*/
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    -webkit-animation: spin 3s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    
    animation: spin 3s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}
/*Make the most inner arc that rotate*/
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    -webkit-animation: spin 1s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    
    animation: spin 1s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}
/*Used to creat the spinnig loading animation for chrome*/
@-webkit-keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/*Used to creat the spinnig loading animation*/
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* navigation */

/*unordered list for navigation*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, .9);
    box-shadow: 0px 0px 30px #888888;
    width: 100%;
    position: fixed;
    z-index: 2;
    height: 78px;
    top: 0;
    font-family: 'Dosis', sans-serif;
}
/*Sets all the list in ul to float right*/
li {
    float: right;
    padding-right: .5em;
}
/*sets the first list which is logo to flaot right*/
li:nth-child(1) {
    float: left;
    padding-right: 0;
}
li a,
span {
    display: block;
    font-weight: 500;
    color: black;
    text-align: center;
    padding: 24px 16px 23px 16px;
    text-decoration: none;
    transition: 0.3s;
}
/*Logo*/
li img {
    padding-left: 0em;
    padding-right: 1em;
    height: 78px;
}
/*The link which not active*/
li a:hover:not(.active) {
    text-decoration: none;
    color: #c94040;
}
/*the link which is active */
.active {
    border-bottom: 3px solid #dd4343;
    color: #ea3f3f;
    border-bottom: 3px solid #ea3f3f;
}
/*Footer*/

.foot {
    position: relative;
    bottom: 0;
    padding: .2em;
    background-color: #dd4343;
    padding-left: 1em;
    padding-right: 1em;
    color: #ffffff;
    font-family: 'Dosis', sans-serif;
}
/*for the fist para tad inside the footer*/
footer > p:nth-child(1) {
    float: right;
}

/*Home*/
/* Slide show  */
/*The outer most container for the slieshsw*/
.slider {
    border-radius: 5px;
    margin: auto;
    z-index: 1; /*Z index is rested to 1*/
    box-shadow: 0 0 10px #888888;
    float: left;
    width: 60%;
    margin: 1em;
}
/*Changes the slider width to 100% when the broweser is smaller then 880px*/
@media only screen and (max-width: 880px) {
    .slider {
        border-radius: 5px;
        z-index: 1;
        box-shadow: 0 0 10px #888888;
        width: 100%;
        margin: auto;
    }
    }
/*the contianer in which all the slidshow images in a*/
.slider-wrapper {
    height: 500px;
    position: relative;
}
/*Changes the height of the slidehsow when the width of the browser is below 650px*/
@media only screen and (max-width: 650px) {
    .slider-wrapper {
        height: 300px;
        position: relative;
    }
}
/*the class to put images for the slide show in */
.slide {
    border-radius: 5px;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 3s linear;
    filter: brightness(100%);
}
/*The continer in which the fact about BMX the main heading of the home page is in */
.slideContent {
    margin: auto;
    position: relative;
    padding: 1em;
    text-align: center;
}
/*Sets the opacity of the first slide class in slide-wrapper class to 1 */

.slider-wrapper > .slide:first-child {
    opacity: 1;
}
/*Home Page Container*/
/*Contains everything except navigation*/

.container_home {
    width: 100%;
    margin: auto;
    max-width: 1600px;
}
/*Contains only slideshow and first para*/

.secondContainer_home {
    width: 100%;
    position: relative;
}
/*Contains everything except slidehshow and navigationand contact us and footer */

.thirdContainer_home {
    width: 100%;
    max-width: 1700px;
    margin: auto;
}
/*Bottom body of Home Page*/

.firstBottomPara_home {
    clear: both;
    margin: auto;
    margin-top: 5em;
    margin-bottom: 5em;
    float: both;
    max-width: 900px;
    text-align: center;
    border-top: 2px solid #dd4343;
}

/*Container for the 3 columns on the home page*/
.otherBottomPara_home {
    width: 100%;
    margin: auto;
    display: flex; /*important that this the 3 columns are created using flex  */
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: stretch;
}
/*3 Columns on the home page */

.otherBottomPara_home > article {
    flex: 1; /*important the flex is set 1 for all the columns so that they all take the same width on the webpage */
    width: 550px;
    margin: 1em;
    text-align: center;
    margin-bottom: 1em;
}
/*Sets top padding of the h2 in 3 column on home page to 0*/
.otherBottomPara_home > article > h2 {
    padding-top: 0;
}
/* for the para inside the 3 columns */
.otherBottomPara_home > article > p {
    padding: 1em;
    padding-top: 0;
    padding-bottom: 0;
}
/*For the images inside the 3 colomns*/
.otherBottomPara_home > article > img {
    width: 100%;
    height: 300px;
    box-shadow: 0 0 20px gray;
    display: block;
    border-radius: 20px 10px;
}
/*Makes the images in the 3 columns goes a bit dull when you hover over them*/
.otherBottomPara_home > article:hover {
    filter: brightness(95%);
}
/*Contact Us*/
.contact {
    margin: auto;
    text-align: center;
    clear: both;
    padding-left: 5em;
    position: relative;
    margin: auto;
    padding: 1em;
    background-color: white;
    border-radius: 30px 30px 0 0;
}
/*Getting Started*/
/*Container*/
/*Contains everything except navigation*/

.container_gStarted {
    width: 100%;
    max-width: 2000px;
    margin: auto;
    padding-top: 2em;
}
/*Contains only last 4 para*/

.secondContainer_gStarted {
    width: 100%;
    background-color: #ffffff;
    border-radius: 30px 30px 0 0;
}
/*Contains only heading and 1st para*/

.thirdContainer_gStarted {
    width: 95%;
    margin: auto;
}
/*for the images that is on left of main heading of Getting Started Set width to 20%*/
.thirdContainer_gStarted > article > img {
    width: 20%;
    float: right;
    display: block;
    border-radius: 10px;
}

/*Para's except 1st for getting started*/

/*For the images with the white background*/
.secondContainer_gStarted img {
    display: block;
    width: 100%;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}
/*Sets displeay flex for the 4 sets in the Getting Started page*/
.secondContainer_gStarted > section {
    width: 100%;
    clear: both;
    display: flex; /*Important flex used for the 4 sets with the white background */
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: stretch;
}
/*Sets the flex 1 so that the first 2 steps comes in one rows and other 2 steps comes in other row */
.secondContainer_gStarted > section > article {
    flex: 1;
    padding: 1em;
}
/*When the width of the beowser is samller then 650px the steps would align vertically one after other */
@media only screen and (max-width: 650px) {
    .secondContainer_gStarted > section > article {
        flex: 1 100%;
        padding: 1em;
    }
}
/*for the last heading at the bottom of the page*/

.last_gStarted {
    background-color: white;
    margin: 0;
    padding-bottom: 1em;
    text-align: center;
    clear: both;
}
/*Events*/
/*Container for events*/
/*Contains everything except navigation*/

.container_Events {
    width: 100%;
    margin: 0;
}
/*For the First Para and First table*/

.secondContainer_Events {
    width: 95%;
    margin: auto;
}
.heading_Events {
    padding-top: 2em;
    padding-left: .5em;
}
/*Second table and the para and heading above it*/

.thirdContainer_Events {
    width: 95%;
    background-color: #ffffff;
    border-radius: 30px 30px 0 0;
    border: 0;
    padding: 2.5%;
    clear: both;
}
/*Other Stuff*/

/*For the table on the Events page*/
table {
    font-size: 1em;
    margin-top: 1em;
    margin: auto;
    border-collapse: collapse;
    box-shadow: 0 0 10px gray;
    text-align: center;
    margin-bottom: 1em;
}
/*For the table data*/
td {
    padding: 4%;
}
/*for the tabel row, when you hover over it, it get 1.1 times bigger then it's origaonal size*/
tr:hover {
    transform: scale(1.1); /*when hover get 1.1 times bigger then it's origaonal size*/
    transition: .5s; /*Takes about .5 secs to do so*/
    box-shadow: 0 0 10px gray;
    cursor: pointer;
}
/*Gets the background color for even rows in the table*/
tr:nth-child(even) {
    background-color: #f2f2f2
}
/*Gets the background color for odd rows in the table*/
tr:nth-child(odd) {
    background-color: #ffffff;
}
/*sets table to scrool in x-axis when the width of the browser is samller then 650px*/
@media only screen and (max-width: 650px) {
    .secondTable_Events {
        overflow-x: scroll;
    }
}
/*for the second table table data and heading*/
.secondTable_Events td,
th {
    padding: 1em;
    text-align: center;
}
/*for th first para in evens under the main heading*/
.FirstPara_Events {
    float: left;
    width: 60%;
    padding: 1em;
}
/*for the para above the second table*/
.bottomPara_Events {
    margin: auto;
    width: 70%;
    text-align: center;
}
/*News*/
/*Container for News*/
/*Contains everything except navigation*/

.container_News {
    width: 100%;
    max-width: 2000px;
    margin: auto;
}
/*Contains only last 4 para*/

.secondContainer_News {
    width: 95%;
    margin: auto;
    padding-top: 2.5em;
}
/*Contains everyting except first 2 para*/

.thirdContainer_News {
    margin: 0;
    background-color: white;
    margin-bottom: 0;
    padding: 2.5%;
    border-radius: 30px 30px 0 0;
}
/*All the para's*/
/*FOr the heading*/
.heading_News {
    margin: 0;
    padding-left: .8em;
}

/*for the first and secod section sets to display flex*/
.firstSection_News,
.secondSection_News {
    clear: both;
    display: flex;/*Important these container are displaying felx*/
    margin-top: 0;
    padding-top: 0;
}
/*for the president's News*/
.firstSection_News > article:nth-child(2) {
    flex: 1;
    padding: .8em;
}
/*North Region AGM 22*/
.firstSection_News > article:nth-child(1) {
    flex: 2;
    padding: .8em;
}
/*For Fundraising update  */
.secondSection_News > article:nth-child(1) {
    flex: 2;
    padding: .8em;
}
/*for image on in second section*/
.secondSection_News > article:nth-child(2) {
    flex: 1;
    padding-right: .8;
    margin: auto;
}
/*for the image in teh second section*/
.secondSection_News img {
    display: block;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}
/*Form*/

.form_News {
    color: #dd4343;
    font-weight: bold;
    width: 60%;
    text-align: center;
    margin: auto;
}
/*for the input fields*/
.inputFied_News {
    height: 30px;
    border: 1px solid gray;
    margin: .2em;
    padding: 0;
    padding-left: .4em;
    border-radius: 15px 10px;
    font-size: 22px;
    border: 1px solid #ef796b;
    box-shadow: 0 0 10px #dd4343;
}
/*For the Submit button*/
.button_News {
    text-align: center;
    background-color: white;
    padding: 0em;
    width: 100px;
    border-radius: 10px;
    border: 1px solid #dd4343;
    font-size: 1em;
    display: inline-block;
    font-size: 1em;
    cursor: pointer;
}
/*For the Submit button hover animation*/
.button_News:hover {
    transition: .3s;
    text-align: center;
    box-shadow: 0 0 10px #dd4343;
    padding: 0em;
    border-radius: 10px;
    border: 1px solid #dd4343;
    font-size: 1em;
}
/*For the Submit text in the button*/
.button_News > span {
    padding: 0;
    margin: 0;
    padding: .5em;
    color: #dd4343;
}
